body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  line-height: 26px;
}

p {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  min-height: 56px;
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  float: left;
  width: 20%;
  padding-top: 15px;
  text-align: center;
}

.main-navigation li:nth-last-child(2) {
  margin-left: 20%;
}

.main-navigation a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cecece;
}

.main-navigation .active {
  color: #766357;
  cursor: pointer;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #dedad8;
}

.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.menu-logo {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -70px;
  width: 138px;
  height: 70px;
  background-position: -10px -1068px;
}

.intro {
  width: 1200px;
  height: 510px;
  text-align: center;
  background:
    url("../img/index-bg-mask.png") no-repeat center bottom,
    #e3f0f8 url("../img/index-bg.jpg") no-repeat center;
}

.intro img {
  padding-top: 76px;
}

.greeting-text {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  min-height: 155px;
  line-height: 26px;
}

.greeting-text h1 {
  font-size: 21px;
  margin-top: 60px;
}

.greeting-text p {
  font-size: 14px;
}

.reason {
  background-color: #81b3d2;
  width: 1200px;
  height: 256px;
}

.reason-card {
  float: left;
  width: 400px;
  height: 202px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 54px;
  line-height: 21px;
}

.reason-card h2 {
  color: #ffffff;
}

.reason-card p {
  width: 310px;
  margin: 0 auto;
}

.text-left {
  float:left;
  width: 400px;
}

.text-right {
  float:right;
  width: 400px;
}

.img-right {
  float: right;
  width: 800px;
}

.img-left {
  float: left;
  width: 800px;
  height: 256px;
}

.advice {
 min-height: 330px;
 text-align: center;

}

.advice-item {
  float: left;
  min-height: 330px;
  width: 33%;
  position: relative;
}

.advice-item h2 {
  padding-top: 158px;
}

.advice-item p {
  width: 300px;
  margin: 0 auto;
}

.advice-item::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 162px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: center;
}

.advice-item.icon-home::before {
  width: 75px;
  height: 72px;
  background-position: -10px -433px;
}

.advice-item.icon-food::before {
  width: 74px;
  height: 70px;
  background-position: -10px -343px;
}

.advice-item.icon-souvenirs::before {
  width: 64px;
  height: 76px;
  background-position: -10px -864px;
}

.reason-block-row {
  height: 256px;
  text-align: center;
  background-color: #eeeeee;
  width: 1200px;
}

.reason-block {
  float: left;
  height: 256px;
  width: 33%;
}

.reason-block p {
  width: 300px;
  margin: 0 auto;
}

.search-hotel {
  /*height: 291px;*/
  text-align: center;
  margin: 0 auto;
  margin-top: 56px;
  line-height: 24px;
}

.search-hotel h2 {
  font-size: 30px;
  margin: 0;
  line-height: 24px;
}

.search-hotel p {
  font-size: 14px;
  font-weight: normal;
  margin-top: 29px;
  margin-bottom: 45px;
}

.btn {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

}

.btn-search-popup {
  height: 86px;
  width: 568px;
  background-color: #766357;
  margin: 0 auto;
  line-height: 86px;
}

.btn-search-popup:hover {
  background-color: #604e43;
}

.btn-search-popup:active {
  background-color: #503e33;
  color: #928a85;
}

.search-form {
  display: none;
  margin: 0 auto;
  height: 395px;
  width: 568px;
  text-align: center;
  background-color: #ffffff; /*для наглядности сетки*/
}

.map {
  height: 473px;
  width: 1200px;
}

.main-footer {
  min-height: 120px;
  text-align: center;
  background-color: #ffffff;
  width: 1200px;
  opacity: 0.9;
  color: #000000;
}

.footer-hashtag {
  width: 33%;
  float:left;
  padding-top: 47px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-social {
  width: 33%;
  float:left;
  padding-top: 36px;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  font-size: 0px;
  background: #81b3d2 url(../img/sprite.png) no-repeat center;
  margin: 0 2px;
}

.icon-twitter {
  /*width: 17px;
  height: 15px;*/
  background-position: -10px -997px;
}

.icon-facebook {
  /*width: 10px;
  height: 19px;*/
  background-position: -10px -304px;
}

.icon-youtube {
  /*width: 20px;
  height: 16px;*/
  background-position: -10px -1032px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn a:active {
  background-color: #94b9d2;
}

.footer-copyright {
  width: 33%;
  float:left;
  padding-top: 41px;
}

.footer-copyright span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 38px;
  margin-right: 8px;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  margin: 0;
  background: url(../img/sprite.png) no-repeat center;
  width: 113px;
  height: 39px;
  background-position: -10px -525px;
  cursor: pointer;
}

.footer-copyright a:hover {
  width: 113px;
  height: 39px;
  background-position: -10px -643px;
}

.footer-copyright a:active {
  width: 113px;
  height: 39px;
  background-position: -10px -584px;
}


/*Отели*/

.content-container {
  width: 1200px;
}

.filter-hotel {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  height: 217px;
  background: #386181 url("../img/hotels-bg.jpg") no-repeat center;
}

.filter-hotel-feature {
  float: left;
  width: 140px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 114px;
}

.filter-hotel-option {
  float: left;
  width: 140px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.filter-hotel-price {
  float: right;
}

.resalt {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 35px;
  width: 1056px;
  min-height: 51px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.resalt-search {
  float: left;
  width: 154px;
  margin-right: 10;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.resalt-sort {
  float: left;
  width: 400px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.resalt-sort a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  margin-right: 30px;
}

.result-arrows {
  float: right;
  width: 35px;
  font-size: 0px;
}

.resalt-hotel-content {
  padding: 30px 72px;
  width: 1052px;
  min-height: 150px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
  float:left;
  width: 135px;
  margin-right: 30px;
}

.hotel-info {
  float: left;
}

.hotel-rating {
  float: right;
}
